.avatar {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    object-fit: cover;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
}

.avatar.online {
    border: 2px solid var(--success);
}
